[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu/"
verify_ssl = false
name = "pytorch"

[packages]
pydantic = "*"
fastapi = "*"
uvicorn = "*"
pandas = "*"
numpy = "*"
extruct = "*"
trafilatura = "*"
nltk = "*"
python-dotenv = "*"
thefuzz = "*"
python-levenshtein = "*"
textblob = "*"
unidecode = "*"
frenchleffflemmatizer = {git = "https://github.com/ClaudeCoulombe/FrenchLefffLemmatizer.git"}
transformers = "*"
torch = {index = "pytorch", version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
